*{
  box-sizing: border-box;
}

html {
  width: 100%;
  font-family: "Outfit", sans-serif;
  background-color: #FFFFFF;
  color: #1E2C4A;
  font-size: 16px;
}

/* Navigation */
.topbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #86A0B8;
  padding: 15px;
}

.topbar a {
  color: #FFFFFF;
  text-decoration: none;
}

.topbar a:hover {
  color: #1E2C4A;
  text-decoration: none;
}

/* Title */
.intro {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 100px;
}

.companyname {
  font-size: 54px;
  font-weight: 900;
  margin: 0px 0px -20px;
}

.description {
  font-size: 24px;
  font-weight: 500;
  color: #86A0B8;
  max-width: 400px
}

/* Team of Coders */
.codersection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #86A0B8;
  gap: 5px;
  margin: 10px 100px 120px;
}

.codersection img{
  width: auto;
  height: 200px;
  border-radius: 100px;
}

.teamtitle {
  font-size: 36px;
  margin: 0px 100px 40px;
}

/* Our Projects */
.projects {
display: flex;
justify-content: space-around;
align-items: center;
text-align: center;
font-size: 24px;
font-weight: 500;
color: #86A0B8;
gap: 10px;
margin: 10px 100px 120px;
}

.ourprojects {
  font-size: 32px;
  margin: 0px 100px 40px;
  color: #1E2C4A;
}

.projects img {
  width: auto;
  height: 230px;
  border-radius: 50px;
}

/* Footer */
footer {
  background-color: #EDF0F2;
  padding: 30px 100px;
}

.footercontent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footerlinks {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 15px;
  max-width: 400px;
}

.footerlinks a {
  text-decoration: none;
  color: #1E2C4A;
  font-size: 14px;
}

.footerlinks a:hover {
  color: #86A0B8;
}

.footercopyright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.actionbutton {
  background-color: #1E2C4A;
  color: #FFFFFF;
  padding: 10px 30px;
  border-radius: 50px;
  font-weight: 700;
}

.footercopyright a {
  color: #86A0B8;
  text-decoration: none;
  font-size: 12px;
}
